<html>

<head>
    <title>Profiling traces</title>
    <link rel="stylesheet" href="/static/trace.css">
</head>

<body>
    <h1>Profiling traces</h1>

    <div id="graph"><canvas id="tracing"></canvas>

    </div>
    <di id="actions">
        <button id="last_minute">Last minute</button>
        <button id="last_hour">Last hour</button>
        <button id="last_day">Last day</button>
        <button id="last_week">Last week</button>
        <button id="last_month">Last month</button>
    </div>

    <script src="/static/libs/chart.js"></script>
    <script src="/static/libs/moment.js"></script>
    <script src="/static/libs/moment-adapter.js"></script>
    <script src="/static/tracing.js"></script>
    <script>
        buildTraceChart({{ traces| safe }})
    </script>



</html>