<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profyle</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="{{ url_for('static', path='/libs/bootstrap.bundle.min.js') }}"></script>
</head>

<body>
    <div class="container pt-4">
        <h1 class="title">Profyle.</h1>
    </div>
    <div class="container-lg pt-4">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Duration (ms)</th>
                    <th scope="col">Timestamp (utc)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for trace in traces %}
                <tr>
                    <th scope="row">{{trace.name}}</th>
                    <td> {{trace.duration / 1000}}</td>
                    <td>{{trace.timestamp}}</td>
                    <td><a class="btn btn-primary" href="/traces/{{trace.id}}" role="button">Analyze</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>


</html>