.btn-primary {
    background-color: #2dc4bb;
    border-color: #2dc4bb;
}

.btn-primary:hover {
    background-color: #21938b;
    border-color: #21938b;
}

.title {
    color: #2dc4bb;
    font-size: 50px;
    font-weight: 500;
}